body {
    background-color: #e9a452;
}

.section-visa {
    padding: 4.8rem 0;
}

.container-fluid {
    width: 100%;
}

.container {
    /*standard width 1200px / 1140px*/
    max-width: 120rem;
    padding: 0 3.2rem;
    /*"centering" the container*/
    margin: 0 auto;
}

.header-container {
    font-size: 2.2rem;
    text-align: center;
    margin: 5rem;
}

.visa-header {
    font-size: 6rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px #b6711f;
    align-self: center;
    padding-bottom: 3.6rem;
    padding-top: 0;
}

.header-container p {
    padding-bottom: 4.8rem;
    font-size: 2.2rem;
}

.visa-grid {
    text-align: center;
    display: grid;
    column-gap: 6.4rem;
    row-gap: 3.2rem;
    padding-top: 5rem;
    background-color: #e38d27;
    border-radius: 50px;
    border: 20px solid #e6983d;
}

.visa-content {
    display: flex;
    justify-content: center;
}

.visa-question {
    padding: 6.1rem 9.6rem;
    border-radius: 10px;
    background-color: #c8e9a0af;
    max-height: 45rem;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.092), 0 5px 7px rgba(0, 0, 0, 0.348);
    
}

strong {
    font-size: 2.2rem;
}

.question-title {
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: 4.8rem;
}

.question-img-container {
    justify-content: center;
    display: inline-block;
    max-width: 50rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    max-height: 24rem;
}

.visa-answer-options {
    font-size: 1.6rem;
}

.id-answer {
    padding-top: 3rem;
}

.button-grid {
    padding: 3.6rem 3.6rem 0 3.6rem;
    line-height: 1.5rem;
    max-width: 50rem;
    margin: 0 auto;
}

.radio-selection {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

input {
    display: none;
}

.visa-answer-options input[type="radio"]:checked+label {
    background-color: #9bf6ff;
    text-decoration: underline;
}

label,
.check-btn {
    display: inline-block;
    padding: 3rem;
    width: 15rem;
    background-color: white;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.275), 0 5px 7px rgba(0, 0, 0, 0.348);
    border: none;
    font-weight: bold;
}

.check-btn {
    border: 6px solid #e9a452;
    padding: 2rem 2rem;
    font-size: 2rem;
    font-family: inherit;
}

label:hover,
label:active {
    background-color: #9bf6ff;
    transition: all 0.2s;
}

.id-answer {
    font-size: 2rem;
    font-weight: 600;
    padding: 3rem 0;

}

.check-btn:hover,
.check-btn:active {
    background-color: #e9a452;
    transition: all 0.2s;
    border: 6px solid #e9a452;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 800px;
    }
    .navbar {
        display: block;
        padding: 7rem;
    }
    .navbar img {
        float: right;
        
    }
    
}   


/*tabletin koko*/

@media screen and (max-width: 768px) {
    .container {
        width: 768px;
    }
    label {
        padding: 4rem;
        width: 20rem;
    }
    .check-btn {
        padding: 4rem;
        width: 20rem;
    }
    .visa-answer-options {
        font-size: 2rem;
    }
    .navbar img {
        max-width: 17%;
        float: left; 
        margin-bottom: 0,5rem;
    }
}
/* mobile L */
@media screen and (max-width: 425px) {
    html {
        font-size: 60%;
    }
    .question-title {
        padding-bottom: 2rem;
    }
    .question-img-container img {
        padding: 1rem;
        max-width: 30rem;
        max-height: 20rem;
    }
    .visa-header {
        font-weight: 600;
        font-size: 4rem;
    }
    .visa-question {
        width: 32rem;
        height: 35rem;
        padding: 2.5rem;
    }
    .container {
        width: 450px;
    }
    .visa-grid {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .button-grid {
        padding-top: 1rem;
    }
    .visa-answer-options {
        font-size: 1.5rem;
    }
    label {
        padding: 3rem;
        width: 15rem;
    }
}
/* mobile M*/
@media screen and (max-width: 375px) {
    html {
        font-size: 50%;
    }
    .question-title {
        padding-bottom: 2rem;
    }
    .question-img-container img {
        padding: 1rem;
        max-width: 30rem;
        max-height: 15rem;
    }
    .visa-header {
        font-weight: 600;
        font-size: 4rem;
    }
    .visa-question {
        width: 30rem;
        height: 30rem;
        padding: 2rem;
    }
    .container {
        width: 375px;
    }
    .visa-grid {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .button-grid {
        padding-top: 1rem;
    }
    .visa-answer-options {
        font-size: 1.5rem;
    }
    label {
        padding: 2.8rem;
        width: 15rem;
    }
}
/* mobile S */
@media screen and (max-width: 320px) {
    html {
        font-size: 40%;
    }
    .question-title {
        padding-bottom: 2rem;
    }
    .question-img-container img {
        padding: 1rem;
        max-width: 27rem;
        max-height: 15rem;
    }
    .footer img {
        display: none;
    }
    .visa-header {
        font-weight: 600;
        font-size: 4rem;
    }
    .visa-question {
        width: 30rem;
        height: 30rem;
        padding: 2rem;
    }
    .container {
        width: 320px;
    }
    .visa-grid {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .button-grid {
        padding-top: 1rem;
    }
    .visa-answer-options {
        font-size: 1.7rem;
        padding-right: 1rem;
    }
    label {
        padding: 3rem 2rem;
        width: 17rem;
    }
    .check-btn {
        padding: 3rem 2rem;
        max-width: 20rem;
        max-height: 20rem;
        font-size: 2.2rem;
    }
}