/* BASE SETUP
reset browser defaults */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Annie Use Your Telescope", cursive;
    letter-spacing: 0.15rem;
    background-color: #e9a452;
}


/* YLÄTUNNISTE */

.header {
    background-color: #e38d27;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*top, right, bottom, left*/
    padding: 60px 0px 30px 0px;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: left;
    gap: 50px;
    font-size: 2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: rgb(255, 255, 255);
}

#search {
    padding: 6px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.23);
}

.header-search {
    display: flex;
    align-items: center;
}

.btn-search {
    display: flex;
    font-size: 2rem;
}

.btn-search-click:link,
.btn-search-click:visited {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding-left: 10px;
}


/* HERO */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 10px;
    align-items: right;
}

.hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 150px;
}

.heading-primary {
    padding-top: 50px;
    font-family: inherit;
    font-size: 10rem;
    letter-spacing: 0.5rem;
    color: #e7e7e7;
    text-shadow: 5px 5px #c07921;
}

.hero-text {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: justify;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
}

.hero-img::before {
    content: "";
    display: block;
    width: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    background-color: #c8e9a0af;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-img img {
    width: 30%;
    z-index: 1;
}


/* QUIZZES SELECTION */

.section-quizzes {
    /*top, right, bottom, left*/
    padding: 200px 200px 200px 200px;
}

.quizzes-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    row-gap: 50px;
    column-gap: 50px;
    padding: 150px 100px 150px 100px;
    background-color: #e38d27;
    border-radius: 19%;
    text-align: center;
}

.quiz img {
    width: 100%;
    transition: all 0.4s;
}

.quiz img:hover {
    transform: scale(1.1);
}

.quiz-header {
    font-size: 2rem;
    font-weight: 600;
}

.quiz-image {
    max-width: 50%;
}