/* BASE SETUP
reset browser defaults */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* BASE SETUP2 
Setting font size to X pixels doesn't let users to increase or decrease the font size on their browsers
Default font size = 16px -> 1rem = 10px -> 10px / 16px = 0.625px = 62.5%
*/

html {
    font-size: 62.5%;
    background-color: #e9a452;
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.15rem;
    line-height: 1.5;
    color: black;
}

.heading-primary,
.heading-secondary {
    display: block;
    font-family: "Annie Use Your Telescope", cursive;
}


/* YLÄTUNNISTE */

.header {
    grid-template-columns: 1fr 1fr;
    background-color: #e38d27;
    display: grid;
    align-items: center;
    /*top, right, bottom, left*/
    padding: 60px 300px 30px 300px;
    position: relative;
}

.main-nav {
    display: flex;
    text-align: right;
    justify-content: center;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 2.4rem;
    transition: all 0.4s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}

.main-header {
    grid-column: 2/2;
    text-align: right;
    display: flex;
}

.header-img {
    max-width: 25%;
}

.btn-search-click:link,
.btn-search-click:visited {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding-left: 10px;
}

.shapedividers_com-8976 {
    display: flex;
    padding-bottom: 50px;
}


/* HERO */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 10px;
    align-items: right;
}

.hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 150px;
}

.heading-primary {
    padding-top: 50px;
    font-size: 10rem;
    letter-spacing: 0.5rem;
    color: #e7e7e7;
    text-shadow: 5px 5px #c07921;
}

.hero-text {
    font-size: 2.2rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    text-align: justify;
    padding-top: 100px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
}

.hero-img::before {
    content: "";
    display: block;
    width: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    background-color: #c8e9a0af;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-img img {
    width: 30%;
    z-index: 1;
}


/* QUIZZES SELECTION */

.section-quizzes {
    /*top, right, bottom, left*/
    padding: 200px;
    display: block;
}

.quizzes-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    row-gap: 10px;
    padding: 50px 90px 50px 90px;
    background-color: #e38d27;
    border-radius: 50px;
    text-align: center;
    border: 20px solid #e6983d;
}

.quiz-header {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px #b6711f;
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
}

.quiz::before {
    content: "";
    display: block;
    width: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    background-color: #e2e9a0af;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border: solid 5px rgb(33, 33, 33);*/
}

.quiz img,
.quiz p,
.quiz a {
    width: 100%;
    transition: all 0.4s;
    z-index: 1;
}

.quiz img:hover,
.quiz a:hover,
.quiz p:hover {
    display: inline-block;
    transform: scale(1.1);
}

.quiz-name {
    font-size: 2.4rem;
    font-weight: 600;
    display: flex;
    padding-top: 2px;
}

.quiz-image {
    display: inline-block;
    max-width: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
}


/* FOOTER SECTION */

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 2rem;
    background-color: #e38d27;
    padding: 100px 300px 100px 300px;
    justify-items: left;
}

.footer-header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.footer-icon {
    font-size: 2.2rem;
    margin-right: 10px;
}

.footer li {
    display: flex;
    padding-bottom: 15px;
}

strong {
    font-size: 2.2rem;
}

.footer-img {
    max-width: 50%;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
    padding-top: 20px;
    margin-left: 15px;
    justify-content: left;
    font-size: 2.5rem;
}

.footer-link,
.footer-link a {
    display: inline-block;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.footer-link:link,
.footer-link:visited,
.footer-link a:link,
.footer-link a:visited {
    display: inline-block;
    text-decoration: none;
    transition: all 0.4s;
}

.footer-link:hover,
.footer-link:active,
.footer-link a:hover,
.footer-link a:active {
    display: inline-block;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}

.contact-info {
    font-style: normal;
}


/* CREDITS */

.credits {
    display: flex;
    background-color: #e38d27;
    padding: 0px 300px 100px 300px;
    justify-content: center;
}

.krediitit {
    display: inline-block;
    text-decoration: none;
    color: #e7e7e7;
    justify-items: center;
}

.krediitit a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    justify-self: center;
    font-weight: 600;
}


/* ABOUT US */

.section-about-us {
    padding: 0px 100px 100px 100px;
}

.about-us-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    padding: 0px 50px 100px 50px;
    text-align: center;
    font-size: 2.2rem;
}

.about-us-header {
    grid-column: 1/4;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.15rem;
}

.about-us-text {
    grid-column: 1/4;
    padding: 50px 500px 100px 500px;
    text-align: justify;
}

.working-group img {
    max-width: 30%;
}

.your-picture {
    border-radius: 50%;
    box-shadow: 15px 15px 15px #b6711f;
    border: solid 5px;
}

.first {
    border-color: #fdffb6;
}

.second {
    border-color: #caffbf;
}

.third {
    border-color: #fdffb6;
}

.fourth {
    border-color: #bdb2ff;
}

.fifth {
    border-color: #9bf6ff;
}

.sixth {
    border-color: #ffadad;
}

.about-you-name {
    padding-top: 20px;
    font-size: 2.4rem;
    font-weight: 600;
}

.about-you-title {
    padding-top: 20px;
    padding-bottom: 10px;
}

.about-you-title2 {
    padding-bottom: 50px;
}