/* BASE SETUP
reset browser defaults */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* BASE SETUP2 
Setting font size to X pixels doesn't let users to increase or decrease the font size on their browsers
Default font size = 16px -> 1rem = 10px -> 10px / 16px = 0.625px = 62.5%
*/

html {
    font-size: 62.5%;
    background-color: #e9a452;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.15rem;
    line-height: 1.5;
    color: black;
}

.heading-primary,
.heading-secondary {
    display: block;
    font-family: "Annie Use Your Telescope", cursive;
}


/* YLÄTUNNISTE */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #e38d27;
    height: 100%;
    padding: 45px;
    font-size: 2rem;
}

img[alt*="headerimg"] {
    width: 150px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgb(233 164 82);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.shapedividers_com-8976 {
    display: flex;
}


/* rem and em do NOT depend on html font-size in media queries
Instead, 1rem = 1em = 16px 
rem might have bugs in some browsers so we use em instead of rem, since they work the same */


/*
@media (max-width: 90em) {
    .header {
        padding: 10rem 18rem;
    }
}

@media (max-width: 48em) {
    .main-nav-list {
        display: none;
    }
    .header-img {
        padding-left: 50rem;
    }
} */


/* HERO */

.hero {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 15rem;
}

.heading-primary {
    font-size: 10rem;
    letter-spacing: 0.5rem;
    color: #e7e7e7;
    text-shadow: 0.5rem 0.5rem #c07921;
}

.hero-text {
    font-size: 2rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    text-align: justify;
    padding-top: 5rem;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 5rem;
}

.hero-img::before {
    content: "";
    display: block;
    width: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    background-color: #c8e9a0af;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-img img {
    width: 30%;
    z-index: 1;
}


/* QUIZZES SELECTION */

.section-quizzes {
    padding: 4.8rem 0;
}

.container {
    max-width: 120rem;
    padding: 9.6rem 3.2rem;
    margin: 0 auto;
}

.quiz-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    padding: 5rem 0;
    background-color: #e38d27;
    border-radius: 50px;
    text-align: center;
    border: 20px solid #e6983d;
}

.quiz-header {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    font-size: 6rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0.4rem 0.4rem #b6711f;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    position: relative;
}

.quiz-content::before {
    content: "";
    display: block;
    width: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    background-color: #e2e9a0af;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border: solid 5px rgb(33, 33, 33);*/
}

.quiz-content img,
.quiz-content p,
.quiz-content a {
    width: 100%;
    transition: all 0.4s;
    z-index: 1;
}

.quiz-content img:hover,
.quiz-content a:hover,
.quiz-content p:hover {
    display: inline-block;
    transform: scale(1.1);
}

.quiz-name {
    font-size: 2.4rem;
    font-weight: 600;
    display: flex;
}

.quiz-image {
    display: inline-block;
    max-width: 50%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}


/* FOOTER SECTION */

footer {
    padding: 9.6rem 3.2rem;
    background-color: #e38d27;
}

.footer {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.logo-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: block;
    margin-bottom: 2rem;
    width: 90%;
}

.social-links {
    display: flex;
    list-style: none;
    gap: 2.4rem;
    margin-bottom: 3.2rem;
}

.social-icon {
    height: 3.2rem;
    width: 3.2rem;
}

.footer-heading {
    display: flex;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 4rem;
    align-items: center;
}

ion-icon {
    padding-right: 1rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    transition: all 0.4s;
}

.footer-link:hover,
.footer-link:active {
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.address,
address p {
    padding-bottom: 1rem;
}

.contacts {
    font-style: normal;
    font-size: 2rem;
    line-height: 1.6;
}


/* CREDITS */

.credits {
    display: flex;
    background-color: #e38d27;
    padding: 10rem;
    justify-content: center;
}

.krediitit {
    display: inline-block;
    text-decoration: none;
    color: #e7e7e7;
    justify-items: center;
}

.krediitit a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    justify-self: center;
    font-weight: 600;
}


/* ABOUT US */

.section-about-us {
    padding: 0 10rem 10rem 10rem;
}

.about-us-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    padding: 0 5rem 10rem 5rem;
    text-align: center;
    font-size: 2.2rem;
}

.about-us-header {
    grid-column: 1/4;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.15rem;
}

.about-us-text {
    grid-column: 1/4;
    padding: 5rem 50rem 10rem 50rem;
    text-align: justify;
}

.working-group img {
    max-width: 30%;
}

.your-picture {
    border-radius: 50%;
    box-shadow: 1.5rem 1.5rem 1.5rem #b6711f;
    border: solid 0.5rem;
}

.first {
    border-color: #fdffb6;
}

.second {
    border-color: #caffbf;
}

.third {
    border-color: #fdffb6;
}

.fourth {
    border-color: #bdb2ff;
}

.fifth {
    border-color: #9bf6ff;
}

.sixth {
    border-color: #ffadad;
}

.about-you-name {
    padding-top: 2rem;
    font-size: 2.4rem;
    font-weight: 600;
}

.about-you-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.about-you-title2 {
    padding-bottom: 5rem;
}

@media (max-width: 800px) {
    .toggle-icon {
        color: white;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
<<<<<<< HEAD
=======
    .hero {
        display: flex;
    }
    .hero-img {
        display: none;
    }
}

@media (max-width: 425px) {
>>>>>>> 49b57a5c1c02b97bf612ffd322410dcd9560dbc7
    .footer-logo {
        display: none;
    }
    .footer {
        display: inline;
    }
    .nav-col {
        margin-top: 25px;
    }
    .address-col {
        margin-top: 25px;
    }
}